$body-bg-top: #c6538c;
$body-bg-bottom: #c65;

// NavBar
$navbar-bg-color: #343a40;
$navbar-button-bg-color: #545a60;
$navbar-logo-text-color: #fff;
$navbar-text-color: #93969f;
$navbar-text-color-hover: #cccdb7;
$navbar-border-color: #343a40;
$navbar-border-left-px: 1px;
$navbar-border-left-type: solid;
$navbar-border-top-px: 1px;
$navbar-border-top-type: solid;
$navbar-border-right-px: 1px;
$navbar-border-right-type: solid;
$navbar-border-bottom-px: 1px;
$navbar-border-bottom-type: solid;

// NavCat
$navcat-bg-color: #c0c0c0;
$navcat-bg-color-hover: #909090;
$navcat-text-color: #3c3c3c;
$navcat-border-color: #000;
$navcat-border-left-px: 1px;
$navcat-border-left-type: solid;
$navcat-border-top-px: 1px;
$navcat-border-top-type: solid;
$navcat-border-right-px: 1px;
$navcat-border-right-type: solid;
$navcat-border-bottom-px: 1px;
$navcat-border-bottom-type: solid;
