$body-bg-top: #c6538c;
$body-bg-bottom: #c65;

// NavBar
$navbar-bg-color: #c0c0c0;
$navbar-text-color: #5f5f5f;
$navbar-border-color: #fff;
$navbar-border-left-px: 1;
$navbar-border-left-type: solid;
$navbar-border-top-px: 1;
$navbar-border-top-type: solid;
$navbar-border-right-px: 1;
$navbar-border-right-type: solid;
$navbar-border-bottom-px: 1;
$navbar-border-bottom-type: solid;

// NavCat
$navcat-bg-color: #c0c0c0;
$navcat-text-color: #5f5f5f;
$navcat-border-color: #fff;
$navcat-border-left-px: 1;
$navcat-border-left-type: solid;
$navcat-border-top-px: 1;
$navcat-border-top-type: solid;
$navcat-border-right-px: 1;
$navcat-border-right-type: solid;
$navcat-border-bottom-px: 1;
$navcat-border-bottom-type: solid;
