@import '../custom/variables';

$primary-font-custom: "Damion-regular";
$primary-font-extension: "ttf";

$secondary-font-custom: "Mawns Serif";
$secondary-font-extension: "ttf";

$font-title: '';
$font-text: '';

$body-bg-start: #f8f9fe;
$body-bg-end: #f8f9fe;
$body-fonts: #525f7f;

// NavBar
$navbar-bg-start: transparent;
$navbar-bg-end: transparent;
$navbar-text-color: #fff;
$navbar-border-color: #fff;
$navbar-border-left-px: 0px;
$navbar-border-top-px: 0px;
$navbar-border-right-px: 0px;
$navbar-border-bottom-px: 0px;
$navbar-border-type: solid;
$navbar-cart-color: rgba(255, 255, 255, 0.8);;
$navbar-font: '';
$navbar-font-size: '';

// NavCat
$navcat-bg-start: rgba(0, 0, 0, 0.85);
$navcat-bg-end: rgba(0, 0, 0, 0.85);
$navcat-text-color: rgba(255, 255, 255, 0.8);
$navcat-border-color: transparent;
$navcat-border-left-px: 1px;
$navcat-border-top-px: 1px;
$navcat-border-right-px: 1px;
$navcat-border-bottom-px: 1px;
$navcat-border-type: solid;
$navcat-font: $primary-font-custom;
$navcat-font-size: x-large;

//Produto
$btn-prod-bg-color: $success;
$btn-prod-color: $white;

// Footer
$footer-bg-start: #272522;
$footer-bg-end: #444;
$footer-text-color: rgba(255, 255, 255, 0.8);
