@import '../custom/variables';

$body-bg-start: #f8f9fe;
$body-bg-end: #f8f9fe;
$body-fonts: #525f7f;

// NavBar
$navbar-bg-start: #32325d;
$navbar-bg-end: #44325d;
$navbar-text-color: rgba(255, 255, 255, 0.65);
$navbar-border-color: transparent;
$navbar-border-left-px: 1px;
$navbar-border-top-px: 1px;
$navbar-border-right-px: 1px;
$navbar-border-bottom-px: 1px;
$navbar-border-type: solid;

// NavCat
$navcat-bg-start: #32325d;
$navcat-bg-end: #44325d;
$navcat-text-color: rgba(255, 255, 255, 0.65);
$navcat-border-color: transparent;
$navcat-border-left-px: 1px;
$navcat-border-top-px: 1px;
$navcat-border-right-px: 1px;
$navcat-border-bottom-px: 1px;
$navcat-border-type: solid;
